<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>441699899620-tt9bmlg4ps5k6clgj9799jkjvnu58chh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.441699899620-tt9bmlg4ps5k6clgj9799jkjvnu58chh</string>
	<key>API_KEY</key>
	<string>AIzaSyBaahywGuGP7JBbVUK-rgalgVDAPwB7-S4</string>
	<key>GCM_SENDER_ID</key>
	<string>441699899620</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>ua.serhii.PhotoKit</string>
	<key>PROJECT_ID</key>
	<string>photokit-47849</string>
	<key>STORAGE_BUCKET</key>
	<string>photokit-47849.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:441699899620:ios:570deb8f2a83784b2f34f1</string>
</dict>
</plist>